main {
    padding: 20px 20px; 
    color: #000000;
    background-color: rgb(255, 255, 255);
    margin: 0px 80px;
    border-radius: 8px;
    flex-grow: 29;
    display: flex;
    display: inline;
    
    
}
